
:root {
    --main-font: "Inter", Inter, sans-serif;
    --font-color: #302C29;
    --background-color: #F2E1D2 ;
    --highlight-color: #E45D29;
  }
body {
    background-color: var(--background-color);
}

.header{
    width: 100%;
    max-width: 1440;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-family: var(--main-font);
    background-color: var(--highlight-color);
}
.nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    color: var(--font-color);
    height: 96px;
    align-items: center;
    margin-right: 70px;
}

.nav>li{
    margin-left: 15px; /* even spacing amongst list items*/
    font-size: 24px;
    font-weight: bold;
    
}
.nav a {
    text-decoration: none; /* Remove underline for links inside .nav */
    color: var(--font-color);
}
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 70px;

}
.logo_img {
    display: block;
    width: 58px;
    height: 58px;
    background-image: url();
    margin-right: 20px;
}
.logo_text {
    font-size: 36px;
    color: var(--font-color);
    line-height: .7;
    font-weight: bolder;
}

/*hero*/
.hero {
    width: 100%;
    max-width: 1440;
    margin: 0 auto;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    color: var(--font-color);
    font-family: var(--main-font);
    align-items: center;
    margin-left: 70px;
    margin-right: 70px;
    
}

.hero_intro{
    display: flex;
    height: 520px; 
    align-items: center;
    font-size: 96px;
    font-weight: bold;
    
}
.hero_description{
    display: flex;
    height: 520px; 
    width: 420px;
    align-items: center;
    font-size: 32px;
    text-align: right; 
    
}

.highlight {
    color: var(--highlight-color);
}