/* Define colors as variables */
:root {
    --text-color: #000000; /* Dark text color */
    --background-color: #FFFFFF; /* Cream background color */
    --accent-color: #006400; /* Dark green accent color */

    --font-family: 'Avenir Next', sans-serif; /* Default font family */
    --font-size: 16px; /* Default font size */
  }
body {
    font-family: var(--font-family);
    background-color: var(--background-color); 
    color: var(--text-color);
    margin: 0;
    padding: 20px; /* Add more padding to the body */
}

header {
    display: flex;
    align-items: center;
    background-color: var(--background-color); 
    padding-top: 1em;
}

.header-content {
    display: flex;
    flex-direction: column;
}

#logo {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    color: var(--text-color);
    padding: 20px; /* Add more padding to the body */

}
#logo img {
    width: 125px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
    object-fit: cover; /* Crop the image to cover the specified dimensions */
    border-radius: 50%; /* Create a circular mask */
    margin-right: 10px;
}

.intro-content {
    padding-left: 70px;
    padding-right:40px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
}

section {
    padding: 2em;
}

#pageContent {
    display: flex;
    justify-content: space-between;
}

main {
    flex: 2;
}

article {
    margin-bottom: 2em;
}

aside {
    flex: 1;
    background-color: #004d26; /* Dark green aside background */
    color: var(--font-color);
    padding: 1em;
}

footer {
    background-color: #006400; /* Dark green footer */
    padding: 1em;
    text-align: center;
}

a {
    color: var(--accent-color);
}

/* Change the color of links when hovered */
a:hover {
    color: var(--font-color); /* Choose a different color for the hover effect */
}

